.imgContainer {
    width: 200px, height: 100px
}

.backgroundImg {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0%;
    /* height: 100%;
    opacity: 50%; */
    object-fit: cover;
    /* transform: transition(-50%,-50%); */
    z-index: -1;
    box-shadow: 0 16px 40px -12px rgba(0,0,0,0.3),
}

.logoContainer {
    margin-right: -7px
}