.pulse {
  /* added for example reasons */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;

  /* ---------- */

  animation: myPulse 20s linear infinite, Pulsate 3s linear infinite;
}

@keyframes Pulsate {
  from {
    opacity: 0.75;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 0.75;
  }
}

.background {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  height: 100%;
  /* opacity: 50%; */
  object-fit: cover;
  transform: scaleY(-1);
  z-index: -1;
}

.backgroundImg {
  margin-top: -70%;
  width: 100%;
  left: 0%;
  top: 0%;
  height: 100%;
}
